$black:#000000;
$grey:#cccccc;
body {
    font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	background: #fff;
}
.clearfix {
	&:after {
        content: "";
		display: block;
		clear: both;
		visibility: hidden;
		height: 0;
	}
}
h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    text-align: left;
    padding-bottom: 15px;
}
.row {
    margin: 10px -15px;
}
.row >div {
    padding: 0 15px;
    box-sizing: border-box;
}
.input_field {
    position: relative;
    margin-bottom: 20px;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}
.input_field >span {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    height: 100%;
    border-right: 1px solid $grey;
    text-align: center;
    width: 30px;
}
.textarea_field >span {	
    padding-top: 10px;
}
input [type="text"], [type="email"], [type="password"] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid $grey;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
input [type="text"]:hover, [type="email"]:hover, [type="password"]:hover {
    background: #fafafa;
}
.button {
    display: block;
    width: 100px;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #29aa9b;
    border-color: white;
    border-radius: 6px;
    text-transform: uppercase;
    color: white;
    float: right;
}
input &[type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.form_container .row .col_half.last {
    border-left: 1px solid $grey;
}
.text-field_icon::before {
    content: '';
    color: #bdbdbd;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.text-field_input {
    padding-left: 2rem;
    width: 100%;
    height: 50px;
    border: 0;
    border-bottom: 1px solid darkgray;
    background-color: rgba(0,0,0,0);
    outline: 0
}
.text-field_icon {
    padding-left: 60px;
    width: 80%;
    height: 50px;
    position: relative;    
}
.text-field_icon_name::before {
    width: 50px;
    height: 50px;
    background-image: url("img/username.png");
    background-repeat: no-repeat;
    background-position: center;
}
.text-field_icon_email::before {
    width: 50px;
    height: 50px;
    background-image: url("img/email.png");
    background-repeat: no-repeat;
    background-position: center;
}
.text-field_icon_password::before {
    width: 50px;
    height: 50px;
    background-image: url("img/pswd.png");
    background-repeat: no-repeat;
    background-position: center;
}
.checkbox_option label{
    margin-right: 1em;
    position: relative;
    &:before {
        content: "";
        display: inline-block;
        width: 0.5em;
        height: 0.5em;
        margin-right: 0.5em;
        vertical-align: -2px;
        border: 2px solid $grey;
        padding: 0.12em;
        background-color: transparent;
        background-clip: content-box;
        transition: all 0.2s ease;
    }
    &:after {
        border-right: 2px solid $black;
        border-top: 2px solid $black;
        content: "";
        height: 20px;
        left: 2px;
        position: absolute;
        top: 7px;
        transform: scaleX(-1) rotate(135deg);
        transform-origin: left top;
        width: 7px;
        display: none;
    }
}
.checkbox_option input {
    &:hover {
        border-color: $black;
    }    
    &:checked {
        &:before {
            border-color: $black;
        }
        &:after {
            -moz-animation: check 0.8s ease 0s running;
            -webkit-animation: check 0.8s ease 0s running;
            animation: check 0.8s ease 0s running;       
            display: block;
            width: 7px;
            height: 20px;
            border-color: $black;
        }
    }
}
.checkbox_option label:before {
    border-color: $black;
}
.checkbox_option label {
    &:before {
        border-color: $black;
    }
}
.select_option {
    position: relative;
    width: 100%;    
}
.select_option select {
    display: inline-block;
    width: 100%;
    height: 52px;
    padding: 0px 15px;
    cursor: pointer;
    color: black;    
    border: 1px solid $grey;    
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s ease;
    &::-ms-expand {
        display: none;
    }
    &:hover, &:focus {
        color: $black;
        background: #fafafa;
        border-color: $black;
        outline: none;
    }
}
.select_arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
}
.select_option select &:hover + .select_arrow, &:focus + .select_arrow {
    border-top-color: $black;
}
form {
    width: 900px;
    margin: 0 auto;
    padding: 2em;
}
select {    
    border: 0;
    border-bottom: 1px solid darkgray;
    background-color: rgba(0,0,0,0);
}
div input {
    color: darkgray;
}
.col-25 {
    float: left;
    width: 50%;  
}
.col-50 {
    float: left;
    width: 50%;  
}

@media screen and (max-width: 599px) {
    .col-25, .col-50 {
        width: 100%;
        margin-top: 0;
  }
}
@media screen and (max-width: 899px) and (min-width: 600px) {
    .col-25 {
        width: 50%;
        margin-top: 0;
    }
    .col-50 {
        width: 100%;
        margin-top: 0;
    }    
}
